*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24272E;
}
header{
    background: white;
    padding:20x;

}
header > h1 {
    text-align: center;
    font-family:sans-serif;

}
.score-board{
    margin: 20px auto;
    border: 3px solid white;
    width:200px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 46;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;

}
.badge{
    background-color: red;
    color: white;


}
#user_label{
    position: absolute;
    top: 15px;
    left: -20px;
}
#comp_label{
    position: absolute;
    top: 15px;
    left: 175px;
}
.hand{
    height: 60px;
    width: 60px;
}
.result{
    font-size: 40px;
    color: white;
}
.result > p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.choices{
    margin-top: 50px;
    text-align: center;
}
.choice{
    /* this makes them display inline with eachother */
    display: inline-block;
    border: 4px solid white;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 50%;
    
    
}
.choice:hover{
    /* This says when the cursor hovers over the "choice", the cursor will turn into a pointer */
    cursor: pointer;
    background-color: green;
    /* This was originally placed in .choice, but it would cause the elements to slowly transition in instead of just the color. */
    transition: all .3s ease;
}
#cut {
    transform: rotate(-90deg) ;
}

.Action_Message{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;


}